/* Allgemeine Einstellungen */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111827;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Überschrift */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

/* Eingabefelder */
input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #6b7280;
    border-radius: 5px;
    font-size: 16px;
    background-color: #1f2937;
    color: #fff;
}

/* Eingabefelder Effekt */
input:focus {
    outline: none;
    border-color: #2563eb;
}

/* Buttons */
.button {
    background-color: #2563eb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1d4ed8;
}

/* Link-Button */
a button {
    background-color: #4b5563;
}

a button:hover {
    background-color: #374151;
}

/* Passwort-Container */
.password {
    margin-top: 20px;
    background-color: #1f2937;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    font-size: 16px;
    color: #10b981; /* Grüner Text für Passwort */
    word-break: break-word;
    display: none; /* Wird nur angezeigt, wenn ein Passwort generiert wurde */
}


.mainMenu a {
    color: #9ca3af;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    font-size: 25px;
    text-align: center;
}

.mainMenu a:hover {
    color: #fff;
}

.mainMenu .user-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-content {
    flex: 1;
    background-color: #f9fafb;
    color: #111827;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.main-content p {
    color: #6b7280;
    margin-bottom: 20px;
}

.main-content .illustration {
    width: 150px;
    margin-bottom: 20px;
}

.main-content button {
    background-color: #2563eb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.main-content button:hover {
    background-color: #1d4ed8;
}

/* Parent Container Styles */
#savedPW {
    width: 90%; /* Set the parent container width to 90% of the viewport width */
    margin: 0 auto; /* Center the parent container horizontally */
}

/* Scrollable Table Container */
#tableContainer {
    max-height: 40vh; /* Set the maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    width: 100%; /* Ensure the container takes the full width */
    margin: 20px auto; /* Center the container horizontally */
}

/* Table Styles */
table {
    width: 100%; /* Set the table width to 100% of the container */
    border-collapse: collapse; /* Collapse table borders */
}

th, td {
    padding: 10px; /* Decrease padding to make the table cells smaller */
    border: 1px solid #6b7280; /* Add border to table cells */
    text-align: center;
}

th {
    position: sticky;
    top : 0;
    background-color: #2563eb; /* Set background color for table headers */
    color: #fff;
}

td {
    background-color: #1f2937;
    color: #fff;
}
.note {
    padding: 15px;
    margin-top: 20px;
    background-color: #ffe4e1;
    color: #c00;
    border-left: 4px solid #c00;
    border-radius: 4px;
}
.container {
    justify-content: space-evenly;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button {
    background-color: #2563eb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1d4ed8;
}